@import "compass";
@import "partials/variables";
@import "partials/normalize";

body, html .container-fluid{
     height: 100%;
}

body
{
  margin: 0;
  padding: 0;
}
.metrotext
{
  color:white;
  font-style: italic;
  font-size:100px;
  position:relative;
  width:100%;
  margin:0 auto;
  font-family: 'Heebo', sans-serif;
  text-align: center;
}
@keyframes noise-anim{
  $steps:20;
  @for $i from 0 through $steps{
    #{percentage($i*(1/$steps))}{
      clip:rect(random(100)+px,9999px,random(100)+px,0);
    }
  }
}
.metrotext:after{
  width:100%;
  content:attr(data-text);
  position:absolute;
  left:2px;
  text-shadow:-3px 0 #798afc;
  top:0;
  color:#f9f9f9;
  background:#b49ab7;
  overflow:hidden;
  clip:rect(0,900px,0,0);
  animation:noise-anim 3s infinite linear alternate-reverse;
}

@keyframes noise-anim-2{
  $steps:20;
  @for $i from 0 through $steps{
    #{percentage($i*(1/$steps))}{
      clip:rect(random(100)+px,9999px,random(100)+px,0);
    }
  }
}
.metrotext:before{
  width:100%;
  content:attr(data-text);
  position:absolute;
  left:-1px;
  text-shadow:2px 0 #ff7a7a;
  top:0;
  color:#f9f9f9;
  background:#b49ab7;
  overflow:hidden;
  clip:rect(0,900px,0,0);
  animation:noise-anim-2 1s infinite linear alternate-reverse;
}

.artistBox
{
  font-family: 'Heebo', sans-serif;
  font-size: 30px;
  font-style: italic;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 0;
  padding-right: 0;
  margin: 0;
  text-decoration: underline;
  transition: text-decoration-color 0.5s, box-shadow 0.5s;
  height: 50vh;
}

.zekeBox
{
  text-decoration-color: #ff7a7a;
  background-color: #ff7a7a;
}

.kurlBox
{
  background-color:#798afc;
  text-decoration-color: #798afc;
}

.apogeeBox
{
  background-color:#92cca6;
  text-decoration-color: #92cca6;
}

.artistBox:hover
{
  box-shadow: inset 0px 0px 0px 10px #333;
  text-decoration-color: #333;
}

.headerRow
{
  background:#b49ab7;
}

.c1, .headerRow, .artistRow, .merchRow
{
  width: 100%;
  padding: 0;
  margin:0;
}


.headerRow, .merchRow
{
  height: 25vh;
}

.artistRow
{
  height: 50vh;
  padding: 0;
  margin: 0;
}
